html {
  font-family: Helvetica, arial, freesans, clean, sans-serif;
}
#canvas {
  display: block;
}
#section_action {
  display: inline-block;
}
#section_action fieldset {
  margin: 10px 0;
}
#section_action .buttonWithInput {
  margin: 10px 0;
}
#section_action .buttonWithInput button {
  margin-right: 10px;
}
#section_action button {
  display: inline-block;
  margin-right: 20px;
}
