#canvas {
	// background: #fff520;
}

// section action 
#section_action {
	.buttonWithInput {
		margin: 10px 0;
		button {
			margin-right: 10px;
		}
	}
	button {
		display: inline-block;
		margin-right: 20px;
	}
}